<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <title>National Pension Scheme - National Bank Limited</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/fontawesome_all.min.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/feather.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png"/>

</head>
<style>
    .header-container {
        text-align: center;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        margin-top: 20px;
    }
</style>

<body class="min-vh-100 d-flex flex-column">
<div class="nav-fixed">


    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
         id="sidenavAccordion">
        <div th:insert="~{fragments/header :: header}"></div>
    </nav>
</div>
<main class="flex-grow-1">
    <!-- Card Container -->
    <div class="header-container">
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pt-5">
            <div class="container-xl">
                <div class="page-header-content">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-auto">
                            <h1 class="page-header-title justify-content-center">
                                <div class="page-header-icon"><i data-feather="award"></i></div>
                                Pension Scheme Collection
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="container-xl card-container mt-0">
            <div class="row justify-content-center">
                <div class="card shadow-lg mb-1" style="max-width: 1450px; width: 100%;">
                    <div class="card-body">
                        <div th:if="${errorMessage != null}" class="alert alert-danger text-center fw-bold fs-5 mt-4">
                            <i class="fas fa-exclamation-triangle me-2"></i>
                            <span th:text="${errorMessage}">An error occurred.</span>
                        </div>

                        <div th:if="${invoiceData != null}">
                            <form id="companyPaymentForm" th:action="@{/make_company_payment}" method="post">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-file-invoice me-2"></i> Invoice No
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.invoiceNo : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-calendar-day me-2"></i> Invoice Date
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.invDate : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-calendar-alt me-2"></i> Payment For Month
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.paymentForMonth : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-users me-2"></i> Total Employee
                                            </label>
                                            <input type="number" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.totalEmp : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-coins me-2"></i> Total Amount
                                            </label>
                                            <input type="number" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.totalAmount : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-id-badge me-2"></i> Company PID
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.companyPID : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-building me-2"></i> Company Title
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.companyTitle : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-user-tie me-2"></i> Contact Person
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.contactPerson : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-phone-alt me-2"></i> Contact Mobile
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.contactMobile : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-map-marker-alt me-2"></i> Company Address
                                            </label>
                                            <textarea class="form-control fw-bold fs-8" rows="2"
                                                      disabled th:text="${invoiceData != null ? invoiceData.companyAddress : ''}"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-file-code me-2"></i> Economic Code
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.economicCode : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-money-bill me-2"></i> Currency
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.currency : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-puzzle-piece me-2"></i> Scheme Name
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.schemeName : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-credit-card me-2"></i> Credit Account No
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.creditAccDetails.accNo : ''}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1 border rounded p-1 bg-light">
                                            <label class="fw-bold text-green fs-8 d-flex align-items-center">
                                                <i class="fas fa-random me-2"></i> Payment Ref No
                                            </label>
                                            <input type="text" class="form-control fw-bold fs-8"
                                                   th:value="${invoiceData != null ? invoiceData.creditAccDetails.paymentRefNo : ''}" disabled>
                                        </div>
                                    </div>

                                </div>

                                <input type="hidden" name="Payment_Ref_No" th:value="${invoiceData.creditAccDetails.paymentRefNo}" />
                                <input type="hidden" name="CompanyPID" th:value="${invoiceData.companyPID}" />
                                <input type="hidden" name="invoiceNo" th:value="${invoiceData.invoiceNo}" />
                                <input type="hidden" name="invDate" th:value="${invoiceData.invDate}" />
                                <input type="hidden" name="paymentForMonth" th:value="${invoiceData.paymentForMonth}" />
                                <input type="hidden" name="totalEmp" th:value="${invoiceData.totalEmp}" />
                                <input type="hidden" name="totalAmount" th:value="${invoiceData.totalAmount}" />
                                <input type="hidden" name="companyTitle" th:value="${invoiceData.companyTitle}" />
                                <input type="hidden" name="contactPerson" th:value="${invoiceData.contactPerson}" />
                                <input type="hidden" name="contactMobile" th:value="${invoiceData.contactMobile}" />
                                <input type="hidden" name="companyAddress" th:value="${invoiceData.companyAddress}" />
                                <input type="hidden" name="economicCode" th:value="${invoiceData.economicCode}" />
                                <input type="hidden" name="Currency" th:value="${invoiceData.currency}" />
                                <input type="hidden" name="Scheme_name" th:value="${invoiceData.schemeName}" />
                                <input type="hidden" name="AccNo" th:value="${invoiceData.creditAccDetails.accNo}" />



                                <div class="mt-3">
                                    <button type="button" class="btn btn-success w-100 fw-bold" onclick="submitCompanyPayment()">Confirm Payment</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>


<script>
    function submitCompanyPayment() {
        const totalEmp = document.querySelector("input[name='totalEmp']").value;
        const totalAmount = document.querySelector("input[name='totalAmount']").value;

        Swal.fire({
            title: 'Confirm Company Payment',
            html: `
                <p><strong>Employees:</strong> ${totalEmp}</p>
                <p><strong>Amount:</strong> ৳${totalAmount}</p>
            `,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, Proceed',
            cancelButtonText: 'Cancel',
            confirmButtonColor: '#198754'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('companyPaymentForm').submit();
            }
        });
    }
</script>

</html>
